/*
*
*
*/
body{
	background-color: #efefef;
	padding: 0;
	margin: 0;
	font-size: 100%; /*Endrer vi på denne redefinerer vi hva em er! Alternativ em for mobil? */
}

h1 {
	font-family: "Noto sans";
	font-size: 3em;
	margin: 0 10%;
	width: 70%;
}
h2{
    font-size: 1.75em;
	font-family: "Noto sans";
}
p, span {
    line-height: 1.5em;
    font-size: 1em;
    font-family: "Chivo";
}
footer p {
	width: 100%;
}

#slider{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}
nav {
	text-align: center;
	background-color: #AAAAAA;
	width: 80%;
	height: 3em;
	margin: 1.5em auto 1.5em auto;
}
nav a{
	margin: 0 4%;
	padding: 0.5em 5%;
	float: left;
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-family: "Noto sans";
	font-size: 1.2em;
	font-weight: bold;
	line-height:1.5em;
	-webkit-transition: all 0.2s ease; /* Firefox */
	-moz-transition: all 0.2s ease; /* WebKit */
	-o-transition: all 0.2s ease; /* Opera */
	transition: all 0.2s ease; /* Standard */
	border-bottom:0px solid #777777 ;
}
nav a:hover{
	border-bottom:10px solid #EF8D22 ;
}

#firelogo {
	right: 12%;
	position: absolute;
	z-index: 1;
	width: 10%;
	border: solid;
	border-color: #777777;
	background-color: white;
}


/**************
    CONTENT SLIDER
**************/
#slidewrapper{
	width: 302%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s ease; /* Firefox */
    -moz-transition: left 1s ease; /* WebKit */
    -o-transition: left 1s ease; /* Opera */
    transition: left 1s ease;
}

.content section{
    width: 80%;
    margin: 0 auto;
}
.content {
    display: inline-block;
    width: 33%;
	height: auto;
    min-height: 20em;
    text-align: center;
    vertical-align: top;
    padding-bottom: 2em;
    border: 1px #EF8D22 solid;
    margin-bottom: 1em;
}

.text{
    overflow: hidden;
    text-align: justify;

}
.text p {
    width: 50%;     
}
.text img {
    float: right;
    width: 40%;
    margin: 0 0 10px 10px;
}
button{
    text-decoration: none;
    cursor: pointer;
    font-family: "Noto sans";
    font-weight: bold;
    line-height:1.5em;
    min-width: 8em;
    min-height: 3em;
}
button:hover{
    border-bottom:5px solid #EF8D22 ;
}

.hint{
    display: block;
    margin-top: 1em;
    font-style: italic;
}



footer {
	margin-top: 1em;
	background-color: #AAAAAA;
	padding: 0.5em 10%;
}

/*************
ACTIVE SLIDER
************/
.activeSlide{
    background-color: #EF8D22;
}

@media only screen and (max-width: 1200px) {
   h1{
        font-size: 2em;
    }
    .text p{
        width: 100%;
    }
    .text img{
        margin: 0 0 1em 1.5em;
    }
    #slidewrapper{
        width: 301%;
    }
}

@media only screen and (max-width: 800px) {
    #firelogo{
        right:10%;
    }
    nav{
        height: auto;
    }
    nav a{
        margin: 0;
        float: none;
        display: block;
    }
    nav a:hover{
        border-bottom: 0;
    }
    .content{
        border: 0;
        width: 32.9%;
    }
    .content section{
        width: 95%;
    }
    .text img{
        margin: 0 auto;
        display: block;
        width: 80%;
        float:none;
    }
}

@media only screen and (max-width: 480px) {
    .text p {

        width: 90%;
    }
}