/*
*
*
*/
header{
    text-align: center;
    margin: 2em;
}

body{
	width: 50%;
	margin: 0 auto;
	background-color: #EEEEEE;
}
div#slider{
	overflow: hidden;
    width: 100%;

}
#slidewrapper{
	width: 300%;
    position: relative;
    animation: mymove 5s infinite;
}
.content {

    display: inline-block;
    width: 33%;


   /* -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */ 
    
}
.content section{
        width: 80%;
    margin: 0 auto;
}


/* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove {
    0%   {left: 0px; background: red;}
    50%  { left: -207px; background: yellow;}
    100% {left: -414px; background: red;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {left: 0px; }
    50%  { left: -916px; }
    100% {left: -1832px; background: blue;}
}