/*
*
*
*/
body{
	background-color: #efefef;
	padding: 0;
	margin: 0;
	font-size: 100%; /*Endrer vi på denne redefinerer vi hva em er! Alternativ em for mobil? */
}

h1 {
	font-family: "Noto sans";
	font-size: 3em;
	margin: 0 10%;
	width: 70%;
}
h2{
	font-family: "Noto sans";
}
p {
    width: 95%;
    font-size: 1em;
    font-family: "Chivo";
}
footer p {
	width: 100%;
}

#slider{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}
nav {
	text-align: center;
	background-color: #AAAAAA;
	width: 80%;
	height: 3em;
	margin: 1.5em auto 1.5em auto;
}
nav a{
	margin: 0 4%;
	padding: 0.5em 5%;
	float: left;
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-family: "Noto sans";
	font-size: 1.2em;
	font-weight: bold;
	line-height:1.5em;
	-webkit-transition: all 0.2s ease; /* Firefox */
	-moz-transition: all 0.2s ease; /* WebKit */
	-o-transition: all 0.2s ease; /* Opera */
	transition: all 0.2s ease; /* Standard */
	border-bottom:0px solid #777777 ;
}
nav a:hover{
	border-bottom:10px solid #EF8D22 ;
}

#firelogo {
	right: 12%;
	position: absolute;
	z-index: 1;
	width: 10%;
	border: solid;
	border-width: 2%;
	border-color: #777777;
	background-color: white;
}


/**************
    CONTENT SLIDER
**************/
#slidewrapper{
	width: 302%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s ease; /* Firefox */
    -moz-transition: left 1s ease; /* WebKit */
    -o-transition: left 1s ease; /* Opera */
    transition: left 1s ease;
}

.content section{
    width: 80%;
    margin: 0 auto;
}
.content {
    display: inline-block;
    width: 33%;
	height: auto;
    min-height: 20em;
    text-align: center;
    vertical-align: top;
    padding-bottom: 2em;
    border: 1px #EF8D22 solid;
    margin-bottom: 1em;
}

.text{
    overflow: hidden;

}
.text img{
    float: right;
	width: 90%;
	margin: none;
}

footer {
	margin-top: 1em;
	background-color: #AAAAAA;
	padding: 0 10%;
}

/*************
ACTIVE SLIDER
************/
.activeSlide{
    background-color: #EF8D22;
}

@media only screen and (min-width: 480px) {
	.text p {

		width: 90%;
	}
	.text img {
		margin: none;
		float: left;
		width: 90%
	}

@media only screen and (min-width: 800px) {
	.text {
		text-align: justify;
	}
	.text p {
		width: 50%;		
	}
	.text img {
		float: right;
		width: 40%;
		margin: 0 0 10px 10px;
	}
}
